/* line 3, ../../resources/assets/sass/app.scss */
.album-info img {
  margin: 20px 20px 20px 0;
  max-width: 300px;
}
/* line 7, ../../resources/assets/sass/app.scss */
.album-info h1, .album-info h2 {
  margin-left: 20px;
}

/* line 12, ../../resources/assets/sass/app.scss */
.item-list {
  text-align: center;
}
/* line 14, ../../resources/assets/sass/app.scss */
.item-list img {
  height: 200px;
  display: inline-block;
}
/* line 19, ../../resources/assets/sass/app.scss */
.item-list .item {
  background-color: #ecf0f1;
  margin-bottom: 30px;
  padding: 20px;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
  /* line 28, ../../resources/assets/sass/app.scss */
  .sidebar-nav .navbar {
    height: 100vh;
    position: fixed !important;
    width: calc(16.66666667% - 30px);
  }

  /* line 34, ../../resources/assets/sass/app.scss */
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }

  /* line 38, ../../resources/assets/sass/app.scss */
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }

  /* line 42, ../../resources/assets/sass/app.scss */
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }

  /* line 46, ../../resources/assets/sass/app.scss */
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
