// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar {
  	height: 100vh;
    position: fixed !important;
    width: calc(16.66666667% - 30px);
  }

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}