// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.album-info {
  img {
    margin: 20px 20px 20px 0;
    max-width: 300px;
  }
  h1, h2 {
    margin-left: 20px;
  }
}

.item-list {
  text-align: center;
  img {
    height: 200px;
    display: inline-block;
  }

  .item {
    background-color: #ecf0f1;
    margin-bottom: 30px;
    padding: 20px;
    height: 380px;
  }
}

.related-artists {
  width: calc(100% - 320px);
  float: right;

  .list-group {
        height: 206px;
    overflow-y: scroll;
    margin-right: 30px;
  }
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar {
  	height: 100vh;
    position: fixed !important;
    width: calc(16.66666667% - 30px);
  }

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}